In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from glob import glob

In [4]:
glob('./2022/*')

['./2022/transactions-slimpark-app-2022.xlsx',
 './2022/timeseries-slimpark-2022.zip',
 './2022/timeseries-slimpark-2022.csv',
 './2022/transactions-slimpark-withoutapp-2022.xlsx']

In [10]:
df = pd.read_csv('./2022/timeseries-slimpark-2022.csv')
df.head()

,Time,slimpark01_measurement,slimpark02_measurement,slimpark03_measurement,slimpark04_measurement,slimpark01_schedule,slimpark02_schedule,slimpark03_schedule,slimpark04_schedule,solar_measurement,solar_prediction
0,2022-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-01-01 00:00:10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022-01-01 00:00:20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022-01-01 00:00:30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022-01-01 00:00:40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df.columns

Index(['Time', 'slimpark01_measurement', 'slimpark02_measurement',
       'slimpark03_measurement', 'slimpark04_measurement',
       'slimpark01_schedule', 'slimpark02_schedule', 'slimpark03_schedule',
       'slimpark04_schedule', 'solar_measurement', 'solar_prediction'],
      dtype='object')